* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

div {
  border: 1px solid black;
}

h1 {
  margin-left: 15px;
  margin-bottom: 0;
}

.container {
  height: 80vh;
  margin: 30px 15px;
  padding: 10px 10px;

  display: flex;
}
.container div {
  width: 100%;
  height: calc(6.25vw - 4.25px); /* 100vh/16 - 68px/16 (padding, margin and borders) */
}

