* {
  box-sizing: border-box;
} 

html, body {
  margin: 0;
  padding: 0;
  min-width: fit-content;
  min-height: 360px;
}

h1 {
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 10px;
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: 'Gill Sans', Calibri, sans-serif;
  text-wrap: nowrap;
}

.grid {
  margin-bottom: 10px;
  margin-right: 130px;
  padding: 5px;
  max-height: calc(100vh - 70px); /* height minus header */
  min-height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  width: calc(100vh - 70px - 20px); /*same as height: height minus header minus margin/padding */
  min-width: 300px;
  float: none;
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
}

.row:first-of-type {
  border-top: 0.5px solid gray;
}

.row:last-of-type {
  border-bottom: 0.5px solid gray;
}

.square {
  /*height: calc((100vw - 69px)/16); */
  aspect-ratio: 1/1;
  flex: auto;
  border: 0.5px solid lightgray;
  
}

header {
  margin: 0 auto 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
  width: calc(100vh - 70px - 20px); /*same as height: height minus header minus margin/padding */
  min-width: 300px;
}

button {
  background-color: rgb(232, 232, 232);
  max-height: 35px;
  min-height: 22px;
  border: 1.5px solid black;
  border-radius: 30px;
  font-size: 11px;
}

header button {
  width: 60px;
}

.controls button {
  width: 95px;
}

.btn-clicked {
  background-color: rgb(192, 192, 192);
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100px;
  margin: 15px;
}