* {
  box-sizing: border-box;
} 

html, body {
  margin: 0;
  padding: 0;

}

h1 {
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 10px;
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: 'Gill Sans', Calibri, sans-serif;
  text-wrap: nowrap;
}

.container {
  margin: 15px;
  padding: 5px;
  max-height: calc(100vh - 92px);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  width: calc(100vh - 92px - 20px);
  float: none;
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
}

.row:first-of-type {
  border-top: 0.5px solid black;
}

.row:last-of-type {
  border-bottom: 0.5px solid black;
}

.square {
  /*height: calc((100vw - 69px)/16); */
  aspect-ratio: 1/1;
  flex: auto;
  border: 0.5px solid black;
  
}

.active {
  background-color: cornflowerblue;
}

header {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
  width: calc(100vh - 92px - 20px);
}

header button {
  background-color: rgb(232, 232, 232);
  max-height: 35px;
  min-height: 22px;
  width: 60px;
  border: 1.5px solid black;
  border-radius: 30px;
  font-size: 11px;
}